nav {
  background-color: #2b316c;
}
nav img {
  margin-right: 6px;
}

li {
float: right;
}

nav h4 {
  color: white;
  font-size: 10px;
}

body, html {
margin: 0;
padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@400;600&display=swap');
span{
color: #d89e1a;
font-weight:800;

}

footer{
background: #f1f1f1;
padding: 1px 0;
}

.footer-container{
max-width: 1300px;
margin: auto;
padding: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap-reverse;
}

.logo{
width: 180px;
}

.social-media{
margin: 20px 0;
}

.social-media a{
color: #001a21;
margin-right: 25px;
font-size: 22px;
text-decoration: none;
transition: .3s linear;
}


.right-col h1{
font-size: 26px;
}

.border{
width: 100px;
height: 4px;
background: #d89e1a;
}

.newsletter-form{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.txtb{
flex: 1;
padding: 18px 40px;
font-size: 16px;
color: #293043;
background: #ddd;
border: none;
font-weight: 700;
outline: none;
border-radius: 30px;
min-width: 260px;
}

.btnn{
padding: 8px 15px;
background-color: #2b316c;
color: #fff;
border: none;
cursor: pointer;
}

.btn:hover{
opacity: .7;
background-color: #d89e1a;
}

.search {
padding:2px 0;
background-color: #fff;
border:1px solid #ccc;
text-align: center;
}
.search input[type=text] {
width: 60%;
padding:10px;
}
.search input[type=submit] {
padding:12px 15px;
background-color: #d89e1a;
color:#fff;
border:none;
cursor: pointer;
}

.page-content{
min-height: 100vh;
font-size: 40px;
display: flex;
align-items: center;
justify-content: center;
}

@media screen and (max-width:960px) {
.footer-container{
  max-width: 600px;
}
.right-col{
  width: 100%;
  margin-bottom: 60px;
}

.left-col{
  width: 100%;
  text-align: center;
}
}


@media screen and (max-width:700px){
.btn{
  margin: 0;
  width: 100%;
  margin-top: 20px;
  }
}

#bg-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box-login{
  width: 300px;
  min-height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding:15px;
  box-sizing: border-box;
}

.box-login h2{
  text-align: center;
  margin-bottom: 15px;
}

.input-control{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.box{
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px 0;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.col-5{
  width: 20%;
  height: 100px;
  border: 1px solid;
  text-align: center;
  float: left;
	padding:10px;
	box-sizing: border-box;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
.section {
	padding:25px 0;
}
.col-4 {
	width:25%;
	height: 360px;
	border:1px solid #ccc;
	float: left;
	padding:10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.col-4:hover {
	box-shadow: 0 0 3px #999;
}
.col-4 img {
	width: 100%;
}
.col-4 .nama {
	color: #666;
	margin-bottom: 5px;
}
.col-4 .harga {
	font-weight: bold;
	color:#C70039;
	float: right;
}
.col-2 {
	width: 50%;
	min-height: 200px;
	padding:10px;
	box-sizing: border-box;
	float: left;
}
.col-2 img {
	border:1px solid #f9f9f9;
	padding:5px;
	box-sizing: border-box;
}
.col-2 h3 {
	margin-bottom: 10px;
}
.col-2 h4 {
	color: #C70039;
}
.col-2 p {
	margin:15px 0;
	text-align: justify;
	line-height: 25px;
	font-size:14px;
}